﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#faleMais section {
    max-width: 670px;
    border: 1px solid #e5e5e5;
    margin: 4rem 0;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#faleMais section .header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #fff;
        border-bottom: 4px solid white;
        padding: 20px;
    }

    #faleMais section .header .numero {
        width: 40px;
        height: 40px;
        border: 2px solid #2980b9;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 1.5rem;
        color: #2980b9;
        font-weight: bold;
    }

    #faleMais section .header .titulo h5,
    #faleMais section .header .titulo p {
        margin: 0;
        color: #2980b9;
    }

    #faleMais section .body {
        padding: 2rem 20px 20px;
        background-color: #fff;
    }

#faleMais .btn {
    border-radius: 1.5rem;
}

#faleMais .btn-color-main {
    color: white;
    background-color: steelblue;
    border-color: steelblue;
    -webkit-box-shadow: 0 2px 6px 0 rgba(70, 130, 180, 0.5);
    box-shadow: 0 2px 6px 0 rgba(70, 130, 180, 0.5);
}